# Python compilation artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
ENV/
env/
.env

# Workspace data logs and output exports
exports/
reports/
datasets/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE configurations
.idea/
.vscode/
.gemini/
*.suo
*.ntvs*
*.njsproj
*.sln
